* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --keys-bg-color: #f7f7f7;
}

button {
  border: none;
  font-size: 30px;
  line-height: 65px;
  font-weight: 500;
  background-color: inherit;
  cursor: pointer;
}

button:active {
  transform: scale(0.8);
}

input {
  outline: none;
  color: var(--primary-color);
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #e4e4e4;
  transition: all 0.3s ease;
}

body.dark {
  --primary-color: #fff;
  --secondary-color: #22252d;
  --keys-bg-color: #282b33;
}

body.dark {
  background-color: #222522;
  color: var(--primary-color);
}

.container {
  max-width: 350px;
  max-height: 800px;
  background-color: var(--secondary-color);
  overflow: hidden;
  border-radius: 40px;
  transition: all 0.3s ease;
}

.theme {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.theme button {
  padding: 7px;
  font-size: 0;
  line-height: 0;
}

.svg__sun,
.svg__moon {
  stroke: var(--primary-color);
  stroke-width: 0.3px;
}

.svg__sun.active,
.svg__moon.active {
  stroke-width: 2px;
}

.result {
  display: flex;
  flex-direction: column;
}

.result__field {
  margin: 20px auto 0;
  padding: 0 10px;
  border: none;
  background-color: var(--secondary-color);
  font-size: 40px;
  line-height: 40px;
  text-align: right;
  width: 99%;
  height: 40px;
  transition: all 0.3s ease;
}

.keys {
  margin-top: 20px;
  background-color: var(--secondary-color);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 0.3s ease;
}

.key {
  background-color: var(--keys-bg-color);
  color: var(--primary-color);
  width: 65px;
  height: 65px;
  margin: 10px;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.key__operation--clean,
.key__operation--equal {
  width: 150px;
  border-radius: 25px;
}